<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<link rel="stylesheet" type="text/css" href="css/index.css"/>
		<title></title>
	</head>
	<body>
		<div class="head">
			<ul>
				<a href="">
					<li>用户名</li>
				</a>
				<a href="">
					<li>手机版</li>
				</a>
				<a href="">
					<li>升级vip</li>
				</a>
				<a href="">
					<li>升级服务</li>
				</a>
				<a href="">
					<li>设置</li>
				</a>

				<a href="">
					<li>帮助</li>
				</a>
				<a href="">
					<li>退出</li>
				</a>
			</ul>
		</div>
		<div class="content">
			<div class="left_menu">
				<ul>
					<a class="hover_1" href="">
						<li>写邮件</li>
					</a>
					<a class="hover_1" href="selectall">
						<li>收件箱</li>
					</a>
					<a class="hover_1" href="">
						<li>发信箱</li>
					</a>
				</ul>
			</div>
			<div class="content_right">
				<span>欢迎进入私人邮箱系统</span>
			</div>
		</div>
	</body>
</html>
