body {
  margin: 0;
}
.head {
  width: 100%;
  height: 6.25rem;
  background-image: url(../img/email-2.jpg);
}
.head ul {
  list-style: none;
  margin: 0 !important;
}
.head ul li {
  float: left;
  margin-right: 1.25rem;
  margin-top: 2.1875rem;
  color: #DE6F26;
  font-weight: bolder;
}
.content .left_menu {
  width: 6.25rem;
  height: 39.6875rem;
  float: left;
  background-color: #EBF0F4;
}
.content .left_menu ul {
  padding: 0;
  margin: 0;
}
.content .left_menu a {
  display: block;
  width: 6.0625rem;
  height: 3.125rem;
  text-decoration: none;
  margin: 0;
  text-align: center;
  line-height: 3;
}
.content .left_menu a li {
  list-style: none;
}
.hover_1:hover {
  background-color: #87CBFF;
  border-radius: 5px;
}
.content_right {
  float: right;
  width: 87.5rem;
  height: 18.75rem;
}
.content_right span {
  display: block;
  padding-top: 3.125rem;
  padding-left: 1.25rem;
}
